language: php

sudo: false

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

matrix:
    include:
        - php: 5.5
        - php: 5.6
        - php: 7.0
        - php: hhvm
    allow_failures:
        - php: hhvm
    fast_finish: true

env:
    - TEST_DIR=ezpublish/yaml_to_content_type

before_install:
    - composer self-update
    - cd $TEST_DIR

install:
    - composer --prefer-source update

script:
    - vendor/phpunit/phpunit/phpunit
